<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
    <h1>Welcome, <%= user.username %></h1>
    <p>upcoming Blood camps.</p>
    <ul>
        <% for (let camp of camps) { %>
            <li>
                <h3><%= camp.name %></h3>
                <p>Location: <%= camp.location %></p>
                <p>Date: <%= camp.date.toDateString() %></p>
                <p>Description: <%= camp.description %></p>
            </li>
        <% } %>
    </ul>
    
</body>
</html>
